.error {
      background-color: #F8BEBE !important;
}
.warning {
      background-color: #dec174 !important;
}
.success {
      background-color: #63cf7f !important;
}
.info {
      background-color: #636ccf !important;
}
.error, .warning, .success, .info{
      color: white !important;
     font-size: 1.3em !important;
}

